<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Stories Cops Tell About Themselves
    </title>
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.css" />
    <link rel="stylesheet" href="app.css" />
  </head>

  <body>
    <div id="container">
      <h1>
        Stories Cops Tell About Themselves
      </h1>
      <p class="credits">Neta Bomani, Nabil Hassein, and Sam Lavigne</p>

      <section class="intro">
        <p>
          Data is one of the foremost languages of power, including police
          power. Few policy proposals can be considered ~~~serious~~~ unless
          they are based on so-called "hard data," as numbers still retain an
          aura of mathematical and scientific objectivity even in the face of
          countless studies and arguments demonstrating the dubiousness of many
          "data-driven" claims. From logical leaps to incomplete information to
          deliberate falsification, data can be and has been used to justify
          practically any faulty conclusion in virtually every field. The need
          for caution is especially great when the data in question is a direct
          product of oppressive institutions with every motivation to present a
          biased image of their own activities.
        </p>

        <p>
          Nevertheless, significant knowledge can and should be obtained by
          interrogating the self-reported data of the New York Police Department
          and other agencies of our local repressive state apparatus. Since "we
          treasure what we measure," abolitionists can gain insight into the
          priorities of our foes by critically examining what they
          record&mdash;and don't record. By cross-comparing various datasets and
          public statements, we can highlight inconsistencies in police claims
          to provide the community safety we already know is not their true
          purpose or outcome. Broad patterns imperceptible to individual
          experience or community-scale discussion can become apparent by
          summarizing large datasets, via visualization or via other means. And
          sometimes, the sheer absurdity represented by certain abstractions of
          complex human realities can provide some much-needed comic relief.
        </p>

        <p>
          <em>Stories Cops Tell About Themselves</em> examines NYPD arrest,
          complaint and budget data from sourced from
          <a href="https://data.ny.gov/">data.ny.gov</a>. We offer it as an
          exploration of how data shapes imaginations and in turn constructs
          worlds, not as an analysis with claims to finality or completeness.
        </p>

        <p>
          Source code for this notebook can be found
          <a
            href="https://github.com/antiboredom/notes-on-police-funding/blob/master/notes.ipynb"
            >here</a
          >.
        </p>
      </section>

      <div id="app">
        <section v-for="section in sections">
          <div
            v-html="section.title"
            :style="{color: `hsl(${Math.random()*255}, 82%, 56%)`}"
          ></div>
          <div class="item" v-for="item in section.items">
            <div class="notes" v-html="item.html"></div>
            <cell :item="item"></cell>
          </div>
        </section>
      </div>

      <h1>Stories We Tell About The Cops</h1>

      <section class="intro">
        <p>
          Our society is one where violent entities of command and control
          occupy our imagination as agents of safety, agents who come to our
          rescue when Big Bad Things happen. A shift in our collective
          understanding of what cops do (violence) and do not do (keep us safe),
          means that we must channel our disillusionment into actively defining
          what safety means, and determining how to keep each other safe in the
          here and now as well as the future. Amidst the throes of mass demands
          to
          <a
            href="https://www.nytimes.com/2020/06/12/opinion/sunday/floyd-abolish-defund-police.html"
            >#DefundThePolice]</a
          >, it can be easy to lose sight of a bigger abolitionist picture
          &mdash; to center the data or get caught up in abstract discussions
          about budget line items. What does eliminating $1 billion dollars mean
          to an
          <a href="https://cbcny.org/research/seven-facts-about-nypd-budget"
            >$11 billion police budget</a
          >
          and $11 billion jail budget in New York City? As abolitionists who
          believe in investing in communities by way of transformative justice,
          free social services for all (including, but not limited to
          healthcare, housing, public transportation, and education) and the
          abolition of police and prisons &mdash; we also believe in the
          <a href="https://datasociety.net/library/abolish-big-data/"
            >abolition of big data</a
          >.
        </p>

        <p>
          We interpret police data as a peak into how police view themselves, or
          rather, what police are comfortable sharing about themselves with the
          public. As two Black people and one white race traitor, we strongly
          believe we cannot trust the police. The police lie when they harass us
          in the streets and fabricate charges, so why wouldn't they lie in
          their data? As long as police exist, there will always be
          contradictions between how police portray themselves and how we as
          vulnerable targets understand them. No amount of data can capture our
          experiences or the level of codification on the part of police and
          carceral legal system that consistently invalidates our experiences in
          the name of law. No amount of data can capture the larger function of
          the police as a psychological hold on not only our (mis)understandings
          of safety, community and accountability, but also a deeper history of
          the enslavement of Black people and the protection of white control
          over property.
        </p>
      </section>
    </div>
    <script src="https://unpkg.com/three@0.118.1"></script>
    <!-- <script src="https://unpkg.com/three@0.118.1/examples/js/controls/OrbitControls.js"></script> -->
    <script src="https://unpkg.com/three@0.118.1/examples/js/controls/TrackballControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
