<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Notes on Police Funding and the Stories that Cops Tell About Themselve
    </title>
    <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.css" />
    <link rel="stylesheet" href="app.css" />
  </head>

  <body>
    <div id="container">
      <h1>
        Notes on Police Funding and the Stories that Cops Tell About Themselves
      </h1>
      <p class="credits">Neta Bomani, Nabil Hassein, and Sam Lavigne</p>

      <section class="intro">
        <p>
          Data is one of the foremost languages of power, including police
          power. Few policy proposals can be considered ~~~serious~~~ unless
          they are based on so-called "hard data", as numbers still retain an
          aura of mathematical and scientific objectivity even in the face of
          countless studies and arguments demonstrating the dubiousness of many
          "data-driven" claims. From logical leaps to incomplete information to
          deliberate falsification, data can be and has been used to justify
          practically any faulty conclusion in virtually every field. The need
          for caution is especially great when the data in question is a direct
          product of oppressive institutions with every motivation to present a
          biased image of their own activities.
        </p>

        <p>
          Nevertheless, significant knowledge can and should be obtained by
          interrogating the self-reported data of the NYPD and other agencies of
          our local repressive state apparatus. Since "we treasure what we
          measure", abolitionists can gain insight into the priorities of our
          foes by critically examining what they record -- and don't record. By
          cross-comparing various datasets and public statements, we can
          highlight inconsistencies in police claims to provide the community
          safety we already know is not their true purpose or outcome. Broad
          patterns imperceptible to individual experience or community-scale
          discussion can become apparent by summarizing large datasets, via
          visualization or via other means. And sometimes, the sheer absurdity
          represented by certain abstractions of complex human realities can
          provide some much-needed comic relief.
        </p>

        <p>
          This notebook examines NYPD arrest data and complaint data from
          [YEARS]. It is offered as an exploratory work in progress, not as an
          analysis with claims to finality or completeness.
        </p>
      </section>

      <div id="app">
        <!-- <section v&#45;for="section in sections" :style="{backgroundColor: `hsl(${Math.random()*255}, 82%, 95%)`}"> -->
        <section v-for="section in sections">
          <div
            v-html="section.title"
            :style="{color: `hsl(${Math.random()*255}, 82%, 56%)`}"
          ></div>
          <div class="item" v-for="item in section.items">
            <div class="notes" v-html="item.html"></div>
            <cell :item="item"></cell>
          </div>
        </section>
      </div>
    </div>
    <script src="https://unpkg.com/three@0.118.1"></script>
    <!-- <script src="https://unpkg.com/three@0.118.1/examples/js/controls/OrbitControls.js"></script> -->
    <script src="https://unpkg.com/three@0.118.1/examples/js/controls/TrackballControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/prismjs"></script>
    <script src="app.js"></script>
  </body>
</html>
